body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  cursor: pointer;
}

.link :hover {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  text-decoration: none;
  font-size: 26px;
}
.logo-color {
  color: #2196f3;
  font-weight: 700px;
  font-family: Raleway;
}
.logo-color-2 {
  color: black;
  font-weight: 700px;
}
.text-link {
  color: black;
  text-decoration: none;
}
.menu-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500px;
}
.menu-link-item {
  list-style-type: none;
}
.contact {
  color: black;
  list-style-type: none;
}
.text-contact {
  color: #757575;
}
.button-list {
  list-style-type: none;
  font-size: 16px;
  font-weight: 500px;
}
.button-box-1 {
  width: 121px;
  height: 38px;
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
}
.button-box-2 {
  width: 93px;
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  box-shadow: none;
  cursor: pointer;
}
.button-box-3 {
  width: 114px;
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  box-shadow: none;
  cursor: pointer;
}

.button-box-4 {
  width: 91px;
  height: 38px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
  box-shadow: none;
  cursor: pointer;
}
.button-box-5 {
  width: 121px;
  height: 38px;
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
}
button :hover {
  background-color: #2196f3;
}
.text-box-1 {
  font-size: 16px;
  font-weight: 500px;
  text-align: center;
}
.text-box {
  font-size: 16px;
  font-weight: 500px;
  text-align: center;
}
.pictures-list {
  list-style-type: none;
}
.headline {
  font-style: bold;
  font-weight: 700px;
  font-size: 18px;
  color: #212121;
}
.description {
  font-weight: 400px;
  font-size: 16px;
  color: #757575;
}
.footer-block {
  background-color: #2f303a;
}
.logo-color-3 {
  color: white;
  font-weight: 700px;
}
address {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400px;
  font-style: normal;
}
.contact-text-1 {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400px;
  text-decoration: underline;
}
.contact-text {
  color: #ffffff;
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400px;
}
